<head>
    <title>Tài khoản tiết kiệm</title>
    <link rel="stylesheet" type="text/css" href="vendor2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor2/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/accountsave.css">
</head>
<%- include('header'); -%>
    <div class="container-saving">
        <div class="wrap-saving">
            <form class="saving-form validate-form" action="" method="POST">
                <span class="saving-form-title">
                    Tài khoản tiết kiệm
                </span>

                <% save.forEach(function(s){ %>
                    <br>
                    <div class="wrap-input100 validate-input" data-validate="">
                        <label class="label-input100" for=" ">Số tài khoản tiết kiệm: <%= s.code %></label>
                    </div>
                    <div class="wrap-input100 validate-input " data-validate=" ">
                        <label class="label-input100 " for=" ">Số tiền gửi tiết kiệm: <%= s.Money %> VNĐ</label>
                    </div>
                    <div class="wrap-input100 validate-input " data-validate=" ">
                        <label class="label-input100 " for=" ">Kỳ hạn: <%= s.nameTerm %></label>
                    </div>
                    <% if (s.finalize == false) { %>
                        <div class="wrap-input100 validate-input " data-validate=" ">
                            <label class="label-input100 " for=" ">Lãi suất hiện tại: <%= s.interest %></label>
                        </div>
                        <a class="saving-form-btn" href="/AccountSave/<%=s.code %>">Tất Toán</a>
                        <% } else{ %>
                            <div class="wrap-input100 validate-input " data-validate=" ">
                                <label class="label-input100 " for=" ">Tổng lãi suất: <%= s.interest %></label>
                            </div>
                            <% } %>
                                <% }); %>
            </form>
        </div>
    </div>

    <script src="vendor2/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor2/animsition/js/animsition.min.js"></script>
    <script src="vendor2/bootstrap/js/popper.js"></script>
    <script src="vendor2/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor2/select2/select2.min.js"></script>
    <script src="vendor2/daterangepicker/moment.min.js"></script>
    <script src="vendor2/daterangepicker/daterangepicker.js"></script>
    <script src="vendor2/countdowntime/countdowntime.js"></script>
    <script src="js/vendor2.js"></script>

    <%- include('footer'); -%>