<head>
    <title>Mở tài khoản tiết kiệm</title>
    <link rel="stylesheet" type="text/css" href="vendor2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor2/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/save.css">
</head>
<%- include('header'); -%>
    <div class="container-saving">
        <div class="wrap-saving">
            <form class="saving-form validate-form" action="" method="POST">
                <span class="saving-form-title">
                Tài khoản tiết kiệm
            </span>
                <div class="wrap-input100 validate-input" data-validate="">
                    <label class="label-input100" for=" ">Tài khoản: <b style="text-transform:uppercase;"><%= currentUser.displayName %></b></label>
                </div>
                <div class="wrap-input100 validate-input " data-validate=" ">
                    <label class="label-input100 " for=" ">Email: <%= currentUser.email %></label>
                </div>
                <div class="wrap-input100 validate-input " data-validate=" ">
                    <label class="label-input100 " for=" ">Số dư hiện tại: <%= banks.Money %> VNĐ</label>
                </div>
                <div class="wrap-input100 ">
                    <div>
                        <select class="js-select2" name="term">
                        <% interest.forEach(function(i){ %>
                            <option value="<%= i.id %>"><%= i.Name %>
                        </option>
                        <% }); %>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="">
                    <input class="input100" type="number" id="money" name="money" placeholder="Nhập số tiền gửi">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-saving-form-btn">
                    <button class="saving-form-btn">
                    Gửi
                </button>
                </div>
            </form>
        </div>
    </div>

    <script src="vendor2/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor2/animsition/js/animsition.min.js"></script>
    <script src="vendor2/bootstrap/js/popper.js"></script>
    <script src="vendor2/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor2/select2/select2.min.js"></script>
    <script src="vendor2/daterangepicker/moment.min.js"></script>
    <script src="vendor2/daterangepicker/daterangepicker.js"></script>
    <script src="vendor2/countdowntime/countdowntime.js"></script>
    <script src="js/vendor2.js"></script>
    <script>
        $(".js-select2").each(function() {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
        $(".js-select2").each(function() {
            $(this).on('select2:open', function(e) {
                $(this).parent().next().addClass('eff-focus-selection');
            });
        });
        $(".js-select2").each(function() {
            $(this).on('select2:close', function(e) {
                $(this).parent().next().removeClass('eff-focus-selection');
            });
        });
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <%- include('footer'); -%>